# Combining & Merging Datasets in Pandas

In [25]:
import pandas as pd
import numpy as np

## Joining DataFrame

In [26]:
d1=pd.DataFrame(
    {"key":["a","b","c","c","d","e"],
     "num1":range(6)})
d2=pd.DataFrame(
    {"key":["b","c","e","f"],
     "num2":range(4)})

In [27]:
print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

## pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False)

left, right: The DataFrames you want to merge.
how: Type of join:
   'inner' (default): Only matching rows.
   'left': All rows from the left DataFrame.
   'right': All rows from the right DataFrame.
   'outer': All rows from both DataFrames (fills with NaN if no match).
on: Column name(s) to join on (must be present in both DataFrames).
left_on, right_on: Use if the join keys have different column names.
left_index, right_index: Join on indices instead of columns (if set to True).

In [28]:
pd.merge(d1, d2)

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [29]:
pd.merge(d1, d2, on='key')   # Merging on column 'key'

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [30]:
d3=pd.DataFrame(
    {"key1":["a","b","c","c","d","e"],
     "num1":range(6)})
d4=pd.DataFrame(
    {"key2":["b","c","e","f"],
     "num2":range(4)})

In [31]:
print(d3)
print(d4)

  key1  num1
0    a     0
1    b     1
2    c     2
3    c     3
4    d     4
5    e     5
  key2  num2
0    b     0
1    c     1
2    e     2
3    f     3

In [32]:
# Merge of 'key1' from left dataframe and 'key2' from right dataframe
pd.merge(d3,d4,left_on="key1",right_on="key2")

  key1  num1 key2  num2
0    b     1    b     0
1    c     2    c     1
2    c     3    c     1
3    e     5    e     2

In [33]:
print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [34]:
# outer: All rows from both DataFrames (fills with NaN if no match)
pd.merge(d1,d2,how="outer")

  key  num1  num2
0   a   0.0   NaN
1   b   1.0   0.0
2   c   2.0   1.0
3   c   3.0   1.0
4   d   4.0   NaN
5   e   5.0   2.0
6   f   NaN   3.0

In [35]:
# 'left': All rows from the left DataFrame, matching rows from right dataframe
pd.merge(d1,d2,how="left")

  key  num1  num2
0   a     0   NaN
1   b     1   0.0
2   c     2   1.0
3   c     3   1.0
4   d     4   NaN
5   e     5   2.0

In [36]:
# 'right': All rows from the left DataFrame, matching rows from right dataframe
pd.merge(d1,d2,how="right")

  key  num1  num2
0   b   1.0     0
1   c   2.0     1
2   c   3.0     1
3   e   5.0     2
4   f   NaN     3

In [37]:
# 'inner' (default): Only matching rows.
pd.merge(d1, d2, how='inner')

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

## Merging on index

In [38]:
df1=pd.DataFrame(
    {"letter":["a","a","b",
               "b","a","c"],
     "num":range(6)}) 
df2=pd.DataFrame(
    {"value":[3,5,7]},
    index=["a","b","e"])

In [39]:
print(df1)
print(df2)

  letter  num
0      a    0
1      a    1
2      b    2
3      b    3
4      a    4
5      c    5
   value
a      3
b      5
e      7

In [40]:
pd.merge(df1,df2,
         left_on="letter",
         right_index=True)

  letter  num  value
0      a    0      3
1      a    1      3
4      a    4      3
2      b    2      5
3      b    3      5

In [ ]:
right=pd.DataFrame(
    [[1,2],[3,4],[5,6]],
    index=["a","c","d"],
    columns=["Tom","Tim"])
left=pd.DataFrame(
    [[7,8],[9,10],[11,12],[13,14]],
    index=["a","b","e","f"],
    columns=["Sam","Kim"])

In [ ]:
print(right)
print(left)

In [ ]:
pd.merge(right,left, 
         right_index=True, 
         left_index=True, 
         how="outer")