In [1]:
import pandas as pd

In [2]:
# Sample Data
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 60000, 45000, 47000, 70000, 72000],
    'Experience': [2, 5, 3, 4, 6, 7]
}

In [3]:
df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Experience
0      Sales    Alice   50000           2
1      Sales      Bob   60000           5
2         HR  Charlie   45000           3
3         HR    David   47000           4
4         IT      Eva   70000           6
5         IT    Frank   72000           7

In [4]:
# Create a pivot table
pivot = df.pivot_table(values='Salary', index='Department', aggfunc='mean')

print(pivot)

             Salary
Department
HR          46000.0
IT          71000.0
Sales       55000.0

In [5]:
#Pivot table with multiple aggregations
pivot = df.pivot_table(values=['Salary', 'Experience'], index='Department', aggfunc=['mean', 'sum'])
print(pivot)

                 mean                 sum
           Experience   Salary Experience  Salary
Department
HR                3.5  46000.0          7   92000
IT                6.5  71000.0         13  142000
Sales             3.5  55000.0          7  110000

In [6]:
# Pivot table with multiple index
pivot = df.pivot_table(values='Salary', index=['Department', 'Employee'], aggfunc='sum')
print(pivot)

                     Salary
Department Employee
HR         Charlie    45000
           David      47000
IT         Eva        70000
           Frank      72000
Sales      Alice      50000
           Bob        60000

In [7]:
# Pivot table with columns parameter
pivot = df.pivot_table(values='Salary', index='Department', columns='Experience', aggfunc='sum', fill_value=0)

print(pivot)

Experience      2      3      4      5      6      7
Department
HR              0  45000  47000      0      0      0
IT              0      0      0      0  70000  72000
Sales       50000      0      0  60000      0      0